testOutput
bin
obj

# Don't update matplotlib figures (version-specific sub-pixel differences)
data/headers/05210017_vc_abf1.png
data/headers/vc_drug_memtest.png
data/headers/sine sweep magnitude 20.png
data/headers/sample trace_0054.png
data/headers/pclamp11_4ch_abf1.png
data/headers/pclamp11_4ch.png
data/headers/opto_aps_good_units.png
data/headers/opto_aps_bad_units.png
data/headers/multichannelAbf1WithTags.png
data/headers/model_vc_step.png
data/headers/model_vc_ramp.png
data/headers/invalidDate-abf2.png
data/headers/invalidDate-abf1.png
data/headers/H19_29_150_11_21_01_0011.png
data/headers/File_axon_7.png
data/headers/File_axon_6.png
data/headers/File_axon_5.png
data/headers/File_axon_4.png
data/headers/File_axon_3.png
data/headers/File_axon_2.png
data/headers/File_axon_1.png
data/headers/f1_saved.png
data/headers/f1.png
data/headers/DM1_0003.png
data/headers/DM1_0002.png
data/headers/DM1_0001.png
data/headers/DM1_0000.png
data/headers/ch121219_1_0001.png
data/headers/abf1_with_tags.png
data/headers/2020_07_29_0062.png
data/headers/2020_06_16_0001.png
data/headers/2020_06_16_0000.png
data/headers/2020_03_02_0000.png
data/headers/2019_07_24_0055_fsi.png
data/headers/2019_05_02_DIC2_0011.png
data/headers/2018_12_15_0000.png
data/headers/2018_12_09_pCLAMP11_0001.png
data/headers/2018_11_16_sh_0006.png
data/headers/2018_08_23_0009.png
data/headers/2018_05_08_0028-IC-VC-pair.png
data/headers/2018_04_13_0016b_modified.png
data/headers/2018_04_13_0016a_original.png
data/headers/2015_09_10_0001.png
data/headers/19212027.png
data/headers/19122043.png
data/headers/190619B_0003.png
data/headers/18808025.png
data/headers/18807005.png
data/headers/18713001.png
data/headers/18711001.png
data/headers/18702001-triangleTrain.png
data/headers/18702001-step.png
data/headers/18702001-ramp.png
data/headers/18702001-pulseTrain.png
data/headers/18702001-cosTrain.png
data/headers/18702001-biphasicTrain.png
data/headers/18425108_abf1.png
data/headers/18425108.png
data/headers/180415_aaron_temp.png
data/headers/17o05028_ic_steps.png
data/headers/17o05027_ic_ramp.png
data/headers/17o05026_vc_stim.png
data/headers/17o05024_vc_steps.png
data/headers/171117_HFMixFRET.png
data/headers/171116sh_0020_saved.png
data/headers/171116sh_0020.png
data/headers/171116sh_0019.png
data/headers/171116sh_0018.png
data/headers/171116sh_0017.png
data/headers/171116sh_0016.png
data/headers/171116sh_0015.png
data/headers/171116sh_0015-ATFwaveform.png
data/headers/171116sh_0014.png
data/headers/171116sh_0013.png
data/headers/171116sh_0012.png
data/headers/171116sh_0011.png
data/headers/16d22006_kim_gapfree.png
data/headers/16d05007_vc_tags.png
data/headers/14o16001_vc_pair_step.png
data/headers/14o08011_ic_pair.png
data/headers/130618-1-12.png
data/headers/05210017_vc_abf1.png

# I hate Windows
Thumbs.db
*humbs.db

# VS code settings
.vscode/

# custom temporary output folders
_output/
_temp/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
dev/python/dontsync.png