<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- standard meta -->
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}">
    <link rel="icon" href="/pyabf/favicon.ico?v=5" sizes="any">
    <link rel="icon" href="/pyabf/favicon.svg?v=5" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/pyabf/favicon-180.png">
    <link rel="manifest" href="/pyabf/manifest.webmanifest">
    <meta name="theme-color" content="#00523f" />

    <!-- feed -->
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/pyabf/sitemap.xml">

    <!-- stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/pyabf/css/page.css?v=3">
    <link rel="stylesheet" href="/pyabf/css/github.css?v=3">

    <!-- Facebook -->
    <meta property="og:url" content="https://swharden.com/pyabf/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ .Description }}">
    <meta property="og:image" content="/pyabf/banner.jpg">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="swharden.com">
    <meta property="twitter:url" content="https://swharden.com/pyabf/">
    <meta name="twitter:title" content="{{ .Title }}">
    <meta name="twitter:description" content="{{ .Description }}">
    <meta name="twitter:image" content="/pyabf/banner.jpg">

    <!-- analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GN1D8JT7TK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-GN1D8JT7TK');
    </script>

</head>

<body class="bg-light">

    <div class="h-50 w-100 backsplash-pattern"
        style="position: absolute; min-height: 40rem; background: repeating-linear-gradient(-45deg, #00523f, #00523f 3px, white 3px, white 6px);">
        <div class="h-100 w-100" style="background-color: #00523f; opacity: .985;"></div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid" style="max-width: 1000px;">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item"><a class="nav-link" href="/pyabf">Home</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Documentation
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/pyabf/#quickstart">Quickstart</a></li>
                            <li><a class="dropdown-item" href="/pyabf/tutorial">pyABF Tutorial</a></li>
                            <hr />
                            <li><a class="dropdown-item" href="/pyabf/abf2-file-format/">ABF2 File Format</a></li>
                            <li><a class="dropdown-item" href="/pyabf/abf1-file-format/">ABF1 File Format</a></li>
                        </ul>
                    </li>

                    <li class="nav-item"><a class="nav-link" href="https://pypi.org/project/pyabf/">PyPi</a></li>

                    <li class="nav-item"><a class="nav-link" href="https://github.com/swharden/pyabf">GitHub</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid p-0" style="position: relative; max-width: 1000px;">

        <header class="text-light pt-5 pb-4">
            <div class="container-fluid" style="max-width: 1000px;">
                <div class="display-5 fw-normal">
                    <a href='/pyabf' class="text-light" style="text-shadow: 2px 2px 2px #00000066;">pyABF</a>
                </div>
                <div style="opacity: .5;">
                    A simple Python interface for Axon Binary Format (ABF) files
                </div>
            </div>
        </header>

        <main>
            {{ block "main" . }}
            {{ end }}
        </main>

    </div>

    <footer class="container align-items-end mt-5">
        <div class="row">
            <div class="col-sm text-center py-3" style="opacity: .3;">
                <div>
                    Copyright &copy; {{ now.Format "2006" }}
                </div>
                <div>
                    <a href='https://swharden.com/about' class="text-dark">Scott W Harden</a>
                </div>
            </div>

            <div class="col-sm text-center py-3" style="opacity: .3;">
                <div>
                    Built with Hugo {{ .Site.Hugo.Version }}
                </div>
                <div>
                    {{ time now | time.Format ":date_long" }}
                    at {{ time now "America/New_York" | time.Format ":time_short" }} EST
                </div>
            </div>

            <div class="col-sm text-center py-3" style="opacity: .3;">
                <div>
                    <a href="https://github.com/swharden/pyabf/blob/main/website/content/{{ path.Clean .File.Path }}"
                        class="text-dark">
                        Page Source
                    </a>
                </div>
                <div>
                    <a href="/pyabf/sitemap.xml" class="text-dark">Sitemap</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>